<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title> Project Gyruss </title>

      <link rel="stylesheet" href="css/custom.css">
      <link rel="stylesheet" href="css/bootstrap.min.css">

  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
        <a class="navbar-brand">
          <h1>Project Gyruss</h1>
        </a>
      </div>
     </div>
    </nav>

    <div class="container">

      <ul class="tab_title">
        <a href="/"><li>Analytics Dashboard</li></a>
        <a href="/debug"><li>Debug</li></a>
        <a href="/settings"><li>Settings</li></a>
      </ul>

     <div class="row">
      <div class="col">
        <div class="row">
          <h4>Reader Details</h4>
        </div>
        <div>
         <p>Reader ID: <%= @reader_ID %> </p>
         <p>Status of Connection: <%= @reader_status %></p>
         <p>OS path: <%= @platform %> <%= @serial_port %></p>
        </div>

        <div class="row">
         <h4>Linger Threshold: <%= @linger_threshold %></h6>
        </div>

        <div class="row">
         <h4>Reader Duty Cycle: <%= @reader_duty_cycle %></h6>
        </div>
       </div>

       <div class="col">
        <div class="row">
          <h4>Control Panel</h4>
        </div>
        <div class="row">
        <div>
          <button id="csv">Export to CSV</button>
         <form action="/output" method="post">
          <button type="submit">Reset Counter</button>
         </form>
        </div>
       </div>
      </div>
     </div>

   </div>

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="js/tabs.js"></script>
  <script src="js/csv.js"></script>
 </body>
</html>
