<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title> Project Gyruss </title>

      <link rel="stylesheet" href="css/custom.css">
      <link rel="stylesheet" href="css/bootstrap.min.css">

  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
        <a class="navbar-brand">
          <h1>Project Gyruss</h1>
        </a>
      </div>
     </div>
    </nav>

    <div class="container">

      <ul class="tab_title">
        <a href="/"><li>Analytics Dashboard</li></a>
        <a href="/debug"><li>Debug</li></a>
        <a href="/settings"><li>Settings</li></a>
        <a href="/trakr"><li>PresenceTrackr</li></a>
      </ul>

     <div style="padding: 50px" class="row">
      <div class="col">
        <div style="padding-bottom: 10px" class="row">
          <h2>Reader Details</h2>
        </div>
        <div>
         <p><strong>Reader ID:</strong> <%= @reader_ID %> </p>
         <p><strong>Status of Connection:</strong> <%= @reader_status %></p>
         <p><strong>OS path:</strong> <%= @platform %> <%= @serial_port %></p>
        </div>

        <!-- <div style="padding: 30px" class="row">
          <form action="/linger" method="post">
            <div class="form-group">
              <label for="linger_threshold"><h4>Linger Threshold: <%= @linger_threshold %></h4></label>
              <input name="linger_threshold" type="number" class="form-control" id="lingerThreshold">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div> -->


        <!-- <div style="padding: 30px" class="row">
         <form action="/duty" method="post">
           <div class="form-group">
             <label for="duty"><h4>Reader Duty Cycle: <%= @reader_duty_cycle %></h4></label>
             <input name="duty" type="number" class="form-control" id="readerDutyCyle">
           </div>
           <button type="submit" class="btn btn-primary">Submit</button>
         </form>
        </div> -->


       </div>

       <div class="col">
        <div style="padding-bottom: 10px" class="row">
          <h2>Control Panel</h2>
        </div>
        <div class="row">
        <div>
          <button style="margin:20px" class="btn btn-primary" id="csv">Export to CSV</button>
         <form style="display:inline" action="/output" method="post">
          <button style="margin:20px" class="btn btn-primary" type="submit">Reset Counter</button>
         </form>
        </div>
       </div>

       <div class="row">
         <div style="padding: 30px" class="row">
          <form action="/duty" method="post">
            <div class="form-group">
              <label for="duty"><h4>Reader Duty Cycle: <%= @reader_duty_cycle %></h4></label>
              <input name="duty" type="number" class="form-control" id="readerDutyCyle">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
         </div>

         <div style="padding: 30px" class="row">
           <form action="/linger" method="post">
             <div class="form-group">
               <label for="linger_threshold"><h4>Linger Threshold: <%= @linger_threshold %></h4></label>
               <input name="linger_threshold" type="number" class="form-control" id="lingerThreshold">
             </div>
             <button type="submit" class="btn btn-primary">Submit</button>
           </form>
         </div>
        </div>

      </div>
     </div>

   </div>

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="js/tabs.js"></script>
  <script src="js/csv.js"></script>
 </body>
</html>
